{% extends "base.html.twig" %}
{% block title %}
	Accueil
{% endblock %}
{% block body %}
	<h1>Nos produits phares</h1>
	<div class="row">
		{% for p in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" %}
			</div>
		{% endfor %}
		<hr>
		<h2>Un service irreprochable</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis totam fugit cupiditate? Vitae, cumque rem?</p>
		<div class="row">
			{% include "shared/_assurance.html.twig" with {
                'color': 'primary',
                'icon': 'fas fa-truck',
                'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vero magni, vel commodi inventore eaque?",
            } %}
			{% include "shared/_assurance.html.twig" with {
                'color': 'success',
                'icon': 'fas fa-check',
                'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vero magni, vel commodi inventore eaque?",
            } %}
			{% include "shared/_assurance.html.twig" with {
                'color': 'warning',
                'icon': 'fas fa-lock',
                'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vero magni, vel commodi inventore eaque?",
            } %}
		</div>
	</div>
{% endblock %}
